<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dept(dept_name,loc) values (#{deptName},#{loc})
    </insert>

    <insert id="insert2">
        <selectKey resultType="Integer" keyProperty="id" order="BEFORE">
            select max(id)+1 from dept
        </selectKey>
        insert into sys_dept(dept_name,loc) values (#{deptName},#{loc})
    </insert>
    
    <select id="getById" resultType="Dept">
        select id,dept_name,loc from sys_dept where id = #{id}
    </select>
</mapper>